@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection{
  color: #ffff;
  background: rgb(142, 73, 232);
}
body{
  width: 100%;
  height: 100vh;
  padding: 10px;
  background-color:#555;
  margin-top: -34px;
}
ul li p{
    font-family:'Raleway',sans-serif;
    height: 50px;
    line-height: 43px;
    font-weight: bold;
    border: 2px solid black;
    margin: 65px;
    padding: 0px 280px;
    display: flex;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
}
.update{
  color:white;
  font-weight: bold;
  padding: 4px;
}
.pendingTasks{
  font-weight: bolder;
  color: blue;
}
.container{
  background:chartreuse;
  max-width: 400px;
 width: 100%;
  margin: 65px auto;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}
.container header{
  font-size: 30px;
  font-weight: 600;
}
#clear{
  color:white;
  font-weight: bold;
}
.container .earth{
  margin: 20px 0;
  width: 100%;
  display: flex;
  height: 45px;
}
.earth input{
  width: 85%;
  height: 100%;
  outline: none;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 17px;
  padding-left: 15px;
  transition: all 0.3s ease;
}
.earth input:focus{
  border-color: #8E49E8;
}
.earth button{
  width: 80px;
  height: 100%;
  border: none;
  color: #fff;
  margin-left: 5px;
  font-size: 21px;
  outline: none;
  background: #8E49E8;
  cursor: pointer;
  border-radius: 15px;
  opacity: 0.6;
  pointer-events: none;
  transition: all 0.3s ease;
}
.earth button:hover,
.footer button:hover{
  background: black;
}
.earth button.active{
  opacity: 1;
  pointer-events: auto;
}
.container .todoList{
  max-height: 250px;
  overflow-y: auto;
}
.todoList li{
  position: relative;
  list-style: none;
  margin-bottom: 8px;
  background: #f2f2f2;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: default;
  overflow: hidden;
  word-wrap: break-word;
}
.todoList li .icon{
  position: absolute;
  right: -45px;
  top: 50%;
  transform: translateY(-50%);
  background: red;
  width: 45px;
  text-align: center;
  color: #fff;
  padding: 10px 15px;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: all 0.5s ease;
}
.todoList li:hover .icon{
  right: 0px;
}
.container .footer{
  display: flex;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.footer button{
  padding: 6px 10px;
  border-radius: 3px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
  background: red;
  cursor: pointer;
  user-select: none;
  opacity: 0.6;
  pointer-events: none;
  transition: all 0.3s ease;
}
.footer button.active{
  opacity: 1;
  pointer-events: auto;
}
.print{
  display: flex;
  width: 100px;
  justify-content: center;
  margin-left: 620px;
  font-weight: bold;
  color: wheat;
  border-radius: 10px;
  background-color: red;
  border: 2px solid black;

}